body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.post {
  background: #222;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
